#mainform {
    width: 15em;
    margin: 1em auto 0 auto;
}

.formE {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

input[type="text"], input[type="email"], input[type="password"] {
    padding-left: 0.5em;
    display: block;
    height: 40px;
    width: 100%;
    font-size: .8em;
    border-radius: 5px;
    border: 2px solid #e2e2e2;
    color: #717171;
}

input:focus {
    border-color: #bebebe;
}

input[type="submit"], input[type="reset"] {
    margin-bottom: 1em;
    width: 150px;
    background-color: #19afbe;
    border-color: #19afbe;
    border-radius: 6px;
    padding: .2em 0 .2em 0;
    color: #ffffff;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #188c98;
    border-color: #188c98;
    cursor:pointer;
}

.highlight {
    box-shadow: 0 0 4px #f20505;
}

.no-highlight {
    box-shadow: none;
}
