#mainform {
    margin: .5em;
    background-color: #f6f4f4;
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    width: 18em;
    margin: 2em auto 0 auto;
    font-size: 1em;
    padding: 3em;
}

#create {
    margin: .5em;
    background-color: #f6f4f4;
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    font-size: 1em;
    padding: 1.5em;
}

.formE {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

label {
    font-size: 1.3em;
}

#pleasefillemail, #pleasefillpass, #pleaseconfirm,
#pleaseaccept, #pleasefillname {
    padding: .1em;
    height: 15px;
    color: #cd0101;
}

input[type="text"], input[type="email"], input[type="password"] {
    padding-left: 0.5em;
    display: block;
    height: 38px;
    width: 100%;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #cfcccc;
    color: #717171;
}

input:focus, textarea:focus {
    border-color: #bebebe;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    transition: box-shadow 0.07s ease-in-out;
}

input[type="file"] {
}

input[type="submit"], input[type="reset"] {
    text-decoration: none;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 120px;
    background-color: #03afc1;
    /*border: 1px solid #0293a1;*/
    border-radius: 5px;
    padding: .3em 0 .5em 0;
    color: #ffffff;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #03b9cb;
    cursor: pointer;
}

textarea {
    border: 1px solid #cfcccc;
    border-color: #bebebe;
    width: 100%;
    height: 300px;
    padding: 0.4em;
    font-family: Arial;
    display: block;
}

.highlight {
    box-shadow: 0 0 4px #f20505;
}

.no-highlight {
    box-shadow: none;
}

.terms {
    padding-bottom:
}

.terms, input[type="file"], textarea {
    font-size: .9em;
}
