header, footer {
    padding: 1em 0 1em 0;
    background-color: #2a2a2a;
    color: #d9d9d9;
    text-align: center;
    text-decoration: none;
}

footer {
    width: 100%;
    clear: right;
	position: fixed;
	margin-top:	1em;
    bottom: 0;
}


h1 {
    padding-top: 1.3em;
    padding-bottom: 1em;
    font-size: 1.9em;
}

h2 {
    padding-top: 1.3em;
    padding-bottom: 1em;
    font-size: 1.7em;
}

h3 {
    padding-top: 1em;
    padding-bottom: .5em;
    font-size: 1.4em;
}

h4 {
    padding-top: .8em;
    padding-bottom: .3em;
    font-size: 1.2em;
}

.HFlink {
    padding: 1em .7em 1em .7em;
    margin: 0 .3em 0 .3em;
    color: #e9e8e8;
    box-sizing: border-box;
}

.HFlink:visited {
    margin: 0 1em 0 1em;
    color: #e9e8e8;
}

.HFlink:hover {
    color: #fff;
    text-decoration: none;
}

.speciallink {
    background-color: #03afc1;
    /*border: 1px solid #0293a1;*/
    padding: .5em 2em .5em 2em;
    border-radius: 5px;
}

.speciallink:hover {
    background-color: #03b9cb;
    cursor: pointer;
    text-decoration: none;
}

.speciallink:visited {
    color: #ffffff;
}

body {
    font-family: Arial, "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
    color: #4d4d4d;
    font-size: .95em;
}

#about {
    width: 100%;
    margin: 5em auto;
}

#authorimage, #autherdesc {
    width: 350px;
    border-radius: 50%;
    display: block;
    margin: 1em auto;
}

#autherdesc {
}

#main, #links, #comments, #sidebar {
    background-color: #f6f4f4;
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    min-height: 800px;
}

#main, #links, #comments {
    position: relative;
    margin: .5em .5em 0 .5em;
    //width: 		 60%;
    padding: 1em;
    height: 820px;
    overflow: auto;
}

#sidebar {
    min-width: 150px;
    position: relative;
    float: 	   right;
    margin: .5em .5em 0 .5em;
    width: 15%;
    padding: 1em;
    border-radius: 8px;
    height: 820px;
}

.submission p {
    font-size: 0.8em;
    padding-bottom: .8em;

}

.submission {
    padding: 1em;
    border: 1px solid #d4d4d4;
}

.submission:hover {
    background-color: #fbfbfb;
    text-decoration: none;
}

.parent p {
    font-size: 0.8em;
    padding-bottom: .8em;

}

.parent, .desc{
    padding: 1em;
    border: 1px solid #d4d4d4;
}


a {
    color: #283680;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #030095;
}

.clickablebox:visited {
    color: #4d4d4d;
}

.clickablebox:hover {
    color: #4d4d4d;
    background-color: #fbfbfb;
    text-decoration: none;
}

.replies

.termsBox {
    background-color: white;
    padding: 2em;
    width: 40%;
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    text-align: center;
    border: 1px solid #d4d4d4;
}
